ion-badge{
margin-right: 14px;
position: absolute;
right: 0;
top: -0.01rem;
opacity: 0.9;
padding: 6px!important;
border-radius: 58px;
}

ion-icon[name="cart-outline"]{
color: rgba($color: #e75b5b, $alpha: 1.0)
}

ion-button[slot="end"]>ion-button.cart{
  margin-right:20px;
}

ion-buttons[slot="primary"]{
  width: 100%;
  display: flex;
  border: 1px solid rgb(78, 245, 92);
  justify-content: space-between;
}

.item-entry{
  padding: 10px 0;
}

.item-name{
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-family: Arial,sans-serif;
  color: var(--ion-color-dark-tint);
}

.price{
  color: var(--ion-color-tertiary-tint);
  font-weight: 500;
  font-size: 16px;
}

